<div class="inputs">
  <section class="campos">
    <h1><strong>Formulario de Bitacora</strong> </h1>
   <input type="text" name="nombre" placeholder="Nombre:">
   <input type="text" name="apellido" placeholder="Apellido:">
   <input type="tel" name="telefono" id="tel" placeholder="Numero De Telefono:">
    <input type="date" name="fecha_de_nacimiento" id="fechan">
    <input type="text" name="tipotramite" placeholder="Tipo de Tramite:">
    <textarea name="tramites" id="tram" cols="30" rows="10" placeholder=" Tramites Realizados:"></textarea>
    <input type="button" value="Agregar">
  </section>
</div>

<br>

<div class="container">
<h1>Bitacora</h1>
<hr>
<h2>Tramites Anteriores</h2>

<table>
  <tr>
     <th>Nombre</th>
     <th>Apellido</th>
     <th>Telefono</th>
     <th>Fecha del tramite</th>
     <th>Tipo de tramite</th>
     <th>Tramites</th>
     <th>Acciones</th>
     
  </tr>
  <tr>
     <td>jonathan</td>
     <td>Niño</td>
     <td>6543543</td>
     <td>20/02/2022</td>
     <td></td>
     <td>se caso a los 21 años de edad he hizo un tramite con la cantidad de $300</td>
     <td><button>editar</button><button>Eliminar</button></td>
  </tr>
  <tr>
     <td>Jason</td>
     <td>Fuentes</td>
     <td>7865542</td>
     <td>20/02/2022</td>
     <td></td>
     <td>Compro una camioneta 2022 he hizo un tramite con la cantidad de $500</td>
     <td><button>editar</button><button>Eliminar</button></td>
  </tr>
  <tr>
    <td>Jason</td>
    <td>Fuentes</td>
    <td>7865542</td>
    <td>20/02/2022</td>
    <td></td>
    <td>Compro una camioneta 2022 he hizo un tramite con la cantidad de $500</td>
    <td><button>editar</button><button>Eliminar</button></td>
  </tr>
  <tr>
    <td>jonathan</td>
    <td>Niño</td>
    <td>6543543</td>
    <td>20/02/2022</td>
    <td></td>
    <td>se caso a los 21 años de edad he hizo un tramite con la cantidad de $300</td>
    <td><button>editar</button><button>Eliminar</button></td>
  </tr>
</table>

</div>